<section class="form grid__element--1">
    
    <form action="" method="POST" id="form__card">
        
        <!-- Design section -->
        <section class="form__sections form__design">
            
            <div class="form__closed">
                <h2 class="form__title"><i class="form__icon far fa-object-ungroup"></i>Diseña</h2>
                <button class="form__arrow--design form__arrow--collapse" aria-label="Desplegar"><i class="fas fa-chevron-down"></i></button>
            </div>
            
            <div class="form__open" id="form__design--open">
                <div class="palettesContainer">
                    
                    <h3>colores</h3>
                    
                    <div class="paletteChoices">
                        
                        <input type="radio" id="paletteOne" class="radio_button rb_one" name="input-palette" value="radioButtonOne" checked>
                        <label for="paletteOne" class="palette-grid grid-one">
                            <div class="palOne_colOne"></div>
                            <div class="palOne_colTwo"></div>
                            <div class="palOne_colThree"></div>
                        </label>
                        
                        <input type="radio" id="paletteTwo" class="radio_button rb_two" name="input-palette" value="radioButtonTwo">
                        <label for="paletteTwo" class="palette-grid grid-two">
                            <div class="palTwo_colOne"></div>
                            <div class="palTwo_colTwo"></div>
                            <div class="palTwo_colThree"></div>
                        </label>

                        <input type="radio" id="paletteThree"
                        class="radio_button rb_three"  name="input-palette" value="paletteThree">
                        <label for="radioButtonThree" class="palette-grid grid-three">
                            <div class="palThree_colOne"></div>
                            <div class="palThree_colTwo"></div>
                            <div class="palThree_colThree"></div>
                        </label>
                        
                        <input type="radio" id="paletteFour"
                        class="radio_button rb_four"  name="input-palette" value="paletteFour">
                        <label for="radioButtonFour" class="palette-grid grid-four">
                            <div class="palFour_colOne"></div>
                            <div class="palFour_colTwo"></div>
                            <div class="palFour_colThree"></div>
                        </label>

                    </div>
                </div>
                
                
            </div>
            
        </section>
        
        <!-- Fill section -->
        <section class="form__sections form__fill">
            <div class="form__closed">
                <h2 class="form__title"><i class="form__icon far fa-keyboard"></i>Rellena</h2>
                <button class="form__arrow--fill" aria-label="Desplegar"><i class="fas fa-chevron-down"></i></button>
            </div>
            
            <div class="form__open hidden" id="form__fill--open">
                <div class="form__flex">
                <label for="name">Nombre completo <span>*</span></label>
                <input type="text" id="name" name="name" placeholder="Ej. Sally Jill" maxlength="20" required>
                
                <label for="job">Profesión <span>*</span></label>
                <input type="text" id="job" name="job" placeholder="Ej: Front-end unicorn" maxlength="25" required>
                
                <label for="photo">Imagen de perfil <span>*</span></label>
                <input type="file" id="photo" name="photo" class="hidden js__photo--file" required>
                <div class="photo__upload">
                    <button class="photo__upload--btn js__photo--btn" id="submit">Añadir imagen</button>
                    <div class="thumbnail js__photo--thumbnail"></div>
                </div>
                
                <label for="email">Email <span>*</span></label>
                <input type="email" id="email" name="email" placeholder="Ej: sally-hill@gmail.com" required>
                
                <label for="phone">Teléfono</label>
                <input type="tel" id="phone" name="phone" placeholder="Ej: 555-55-55-55">
                
                <label for="linkedin">LinkedIn <span>*</span></label>
                <input type="text" id="linkedin" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" required>
                
                <label for="github">GitHub <span>*</span></label>
                <input type="text" id="github" name="github" placeholder="Ej: @sally-hill" required>
            </div>
        </div>
        </section>
        
        <!-- Share section -->
        
        <section class="form__sections form__share">
            <div class="form__closed">
                <h2 class="form__title"><i class="form__icon fas fa-share-alt"></i>Comparte</h2>
                <button class="form__arrow--share" aria-label="Desplegar"><i class="fas fa-chevron-down"></i></button>
            </div>
            
            <div class="form__open hidden" id="form__share--open">
                <div class="create-card-button-container">
                    <button id="createCardButton" type="button" class="create-card-button off">
                        <a href="#" arial-label="Crear tarjeta"><i class="far fa-address-card"></i>Crear tarjeta</a>
                    </button>
                </div>
                
                <div class="form-container created-container hidden">
                    <p>La tarjeta ha sido creada:</p>
                    <p class="linkResponse"></p>
                    <a href="" id="shareOnTwitter" class="share-twitter-button" target="_blank">
                        <i class="fab fa-twitter"></i>
                        Compartir en Twitter
                    </a>
                </div>
            </div>
            
        </section>
    </form>
</section>