<section class="page__preview grid__element--2">

    <div class="preview__container">

        <button class="preview__resetButton" href="#">
            <i class="far fa-trash-alt"></i> reset
        </button>

        <div id="changePreviewStyle" class="preview__cardcontainer infoStyle1">

            <div class="preview__profileInfo">
                <p class="preview__profileInfo--name nameText">Nombre Apellido</p>
                <p class="preview__profileInfo--job jobText">Front-End developer</p>
            </div>

            <div class="preview__pictureContainer js__photo--preview">
            </div>

            <div class="preview__socialInfo">
                <ul class="preview__buttonList">
                    <li id="emailButton" class="preview__buttonList--item hidden">
                        <a id="emailButtonLink" class="preview__socialButton preview__socialButton--email buttonStyle1" href="" target="_blank" title="email address"><i class="icon far fa-envelope"></i>
                        </a>
                    </li>
                    <li id="phoneButton" class="preview__buttonList--item hidden">
                        <a id="phoneButtonLink" class="preview__socialButton preview__socialButton--phoneNumber buttonStyle1" href="" target="_blank" title="phone number">
                            <i class="icon fas fa-mobile-alt"></i>
                        </a>
                    </li>
                    <li id="linkedinButton" class="preview__buttonList--item hidden">
                        <a id="linkedinButtonLink" class="preview__socialButton preview__socialButton--linkedin buttonStyle1" href="" target="_blank" title="linkedin profile"><i class="icon fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li id="githubButton" class="preview__buttonList--item hidden">
                        <a id="githubButtonLink" class="preview__socialButton preview__socialButton--github buttonStyle1" href="" target="_blank" title="github profile">
                            <i class="icon fab fa-github-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</section>
