<section class="forms_share">
    <header class="form-container share-header">
        <div class="share-title">
            <img src="" alt="">
            <h3>comparte</h3>
        </div>
        <div class="share-button">
            <button type="button" class="button arrow-down">
                <!-- <img src="./assets/images/arrow-down.png"> -->

            </button>

        </div>
        

    </header>
    <div class="create-card-button">
        <button type="button" class="button arrow-up">
            <a href="#" arial-label="Go to more reasons">crear tarjeta</a>
        </button>

    </div>

</section>