<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Landing page Awesome profile-cards</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <partial src="_main.html" label="Main"></partial>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </body>
</html>
