.form {
    font-family: $mainText;
    background: linear-gradient(to bottom, #f5f5f5, #ffffff 9%);
    padding: 30px 27px;

    a {
        font-family: $mainText;
        text-decoration: none;
    }

    .form__icon {
        color: $secondaryColor;
        margin-right: 10px;
    }

    .form__arrow {
        color: $primaryColor;
        border: none;

        // &:visited, &:focus, &:active {
        //     transform: rotate(180deg);
        // }
    }

    .form__arrow--collapse {
        transform: rotate(180deg);
    }

    .form__title {
        font-family: $mainText;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 18px;
        color: $primaryColor;
        margin: 20px 0;
    }

    .form__closed {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .form__sections {
        border-bottom: 1px solid $borderLineColor;
    }

// Section fill 

.form__fill {
    margin-bottom: 30px;

    label {
        color: $formText;

        span {
            color: $primaryColor;
        }
    }

    ::placeholder {
        color: $placeholderText;
        padding: 5px;
    }

    input {
        border: 1px solid $borderColor;
        margin: 5px 0 20px 0;
        height: 30px;
        width: 100%;
    }

    .form__open {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
    }

    .photo__upload {
        display: flex;
        flex-direction: row;
    }

    .photo__upload--btn {
        width: 140px;
        height: 30px;
        background-color: $secondaryColor;
        color: white;
        font-family: $mainText;
        font-size: 14px;
        line-height: 0;
        border-radius: 3px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.20);
        margin: 10px 0 20px;
    }

    .thumbnail {
        width: 30px;
        height: 30px;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        margin: 10px 0 0 20px;
    }

    .hidden {
        display: none;
    }
}
}

// Section share


.share-container{
    border-bottom: solid 1px $borderLineColor;
}

// .created-container{
//     border-bottom: solid 1px $borderLineColor;
// }

.form-container{
    width: 280px;
    margin:auto;
    padding:0;
}

.share-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

// .button{
//     border-radius: 50%;
//     border: 0;
//     padding: 7px;
//     padding-left: 9px;
//     padding-right: 9px;
// }

.arrow-down{
    background-color: white;
}

.create-card-button-container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    // display: none;
    padding-top: 30px;
    padding-bottom: 30px;


    .create-card-button{
        width: 200px;
        height: 50px;
        background-color: $secondaryColor;
        color: white;
        border-radius: 12px;

        &:hover {
            background-color: $hoverColor;
        }

            a{
                text-transform: uppercase;
                font-family: $mainText;
                font-weight: 500;
                text-decoration: none;
                color: white;
                    i{
                        color:white;
                        margin-right: 10px;
                    }
                
            }
    }
}

.created-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    
    padding-bottom: 30px;
    p{
        padding-top: 20px;
        font-size: 18px;
        color: $primaryColor;
        font-family: $mainText;
        
    }

    a{
        display: block;
        color:$secondaryColor;
        padding-bottom: 10px;
        padding-top: 5px;
        font-family: $mainText;
        font-size: 12px;
        font-weight: 600;
    }

    .share-twitter-button{
        background-color: #00a0f5;
        color: white;
        border-radius: 3px;
        width: 180px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        border: 0;
        font-family: $mainText;
        font-size: 14px;
            .fab{
                margin-right: 5px;

            }
        

    }
}





