.page_main {
  background: #f5f5f5;
  width: 100%;
  height: auto;
  margin: auto;
  @media (min-width: 768px) {
    height: 963px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
  .wrapper_main {
    margin-right: 35px;
    margin-left: 35px;
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
    padding-top: 0;
  }
  }
    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (min-width: 768px) {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .awesome-image {
      width: 250px;
      height: 63px;
      margin-bottom: 20px;
      @media (min-width: 768px) {
        width: 419px;
        height: 105px;
    }
  }
    .title {
      font-size: 19.2px;
      font-family: "Merriweather";
      font-weight: 900;
      color: #e17334;
      @media (min-width: 768px) {
        margin-bottom: 0;
        font-size: 24px;
    }
  }
    .text {
      font-size: 12.8px;
      font-family: "Open Sans";
      color: #114e4e;
      text-align: center;
      margin-bottom: 20px;
      @media (min-width: 768px) {
        margin-top: 0;
        font-size: 16px;
        width: 330px;
    }
    }
    .icon-container {
      display: flex;
      flex-direction: row;
      border: solid 2px;
      border-color: rgba(225,115,52,0.21);
      border-radius: 4px;
      width: 268px;
      justify-content: space-around;
      margin-bottom: 30px;
      @media (min-width: 768px) {
        width: 325px;
        height: 70px;
    }
    .design-icon {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #e17334;
    }
    .fill-icon {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #e17334;
    }
    .share-icon {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #e17334;
    }
    }
    .icon1, .icon2, .icon3 {
      font-size: 12.8px;
      font-family: "Open Sans";
      color:#54585a;
      margin-top: 0;
      @media (min-width: 768px) {
        font-size: 16px;
        text-align: center;
    }
    }
    .button-container {
       @media (min-width: 768px) {
         position: relative;
         top: 150px;
    }
    }
    .button {
      font-size: 16px;
      font-family: "Open Sans";
      color: white;
      background: #438792;
      text-transform: uppercase;
      border-radius: 21px;
      width: 129px;
      height: 42px;
      margin-bottom: 30px;
      border-style: solid;
    }
    
  

