@mixin forTablet {
    @media all and (min-width: $tablet) { @content; }
}
  
  @mixin forPc {
    @media all and (min-width: $pc) { @content; }
}

@mixin centerAll {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
