// Colors
$primaryColor: #54585a;
$secondaryColor: #e17334;
$borderColor: #a2deaf;
$formText: #114e4e;
$placeholderText: #c5c5c5;
$footerColor:#6b6b6b;
$borderLineColor: #D8D8D8;
$hoverColor: #d5d5d5;

//Colors for preview
$previewBackground1: #bfcdd0;
$previewBackground2: #dde9ed;
$whiteColor: hsl(0, 0%, 100%);
$shadowColor: rgba(0, 0, 0, 0.2);
$previewTextColor: $primaryColor;

// $palete1Color1: 
$palete1Color1: #114e4e;
$palete1Color2: #438792;
$palete1Color3: #a2deaf;
// $palete1Color2: 
$palete2Color1: #420101;
$palete2Color2: #BD1010;
$palete2Color3: #E95626;
// $palete1Color3: 
$palete3Color1: #3E5B65;
$palete3Color2: #EAB052;
$palete3Color3: #A0C0CF;
$palete4Color1: #b90082;
$palete4Color2: #ff95df;
$palete4Color3: #71d7ff;


// Typography
$landingTitle: 'Merriweather';
$mainText: 'Open Sans';
$formTitle: 'Open Sans';
$previewText: 'Montserrat';

// Font sizes
$mainTitleSize: 18px;
$mainTextSize: 14px;
$smallTextSize: 12px;
$smallLandingTitle: 19.2px;
$smallLandingText: 12.8px;
$largeLandingTitle: 24px;
$LargeLandingText: 16px;
$smallIconsLanding: 22.4px;
$largeIconsLanding: 28px;

// Devices
$tablet: 768px;
$pc: 1280px;

/* Icons
diseña: <i class="far fa-object-ungroup"></i>
rellena: <i class="far fa-keyboard"></i>
comparte: <i class="fas fa-share-alt"></i>
arrowup: <i class="fas fa-chevron-up"></i>
phone: <i class="fas fa-mobile-alt"></i>
email: <i class="far fa-envelope"></i>
linkedin: <i class="fab fa-linkedin-in"></i>
github: <i class="fab fa-github-alt"></i>
reset: <i class="far fa-trash-alt"></i>
*/
