// Colors
$primaryColor: #54585a;
$secondaryColor: #e17334;
$borderColor: #a2deaf;
$formText: #114e4e;
$placeholderText: #c5c5c5;
$footerColor:#6b6b6b;
$borderLineColor: #D8D8D8;
$hoverColor: #d5d5d5;

// Typography
$landingTitle: 'Merriweather';
$mainText: 'Open Sans';
$formTitle: 'Open Sans';
$previewText: 'Montserrat';

// Font sizes


// Devices
$tablet: 768px;
$pc: 1280px;

/* Icons
diseña: <i class="far fa-object-ungroup"></i>
rellena: <i class="far fa-keyboard"></i>
comparte: <i class="fas fa-share-alt"></i>
arrowup: <i class="fas fa-chevron-up"></i>
phone: <i class="fas fa-mobile-alt"></i>
email: <i class="far fa-envelope"></i>
linkedin: <i class="fab fa-linkedin-in"></i>
github: <i class="fab fa-github-alt"></i>
reset: <i class="far fa-trash-alt"></i>
*/
